body,
html {
  height: auto;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  overflow-x: initial !important;
}

.indexhtml
{
  background-color: #000000;
}

header {
  background-color: #000000;
  opacity: 100%;
  width: auto;
  height: 24vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Press Start 2P', sans-serif;
  color: white;
  font-size: 3.5rem;
  text-shadow: 2px, #000000;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-grid {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.parallaxheader {
  background-image: url('Background.jpg');
  height: 90vh;
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxheader1 {
  background-image: url('Background.jpg');
  height: 92.5vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxfirstdiv {
  background-image: url(Miragedark.jpg);
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
  margin-bottom: 10px;
}

.textbox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: black;
  margin-top: 2rem;
  margin-left: 4vw;
  margin-right: 5rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  height: auto;
  opacity: 90%;
  width: 90vw ;
}

.headtext {
  display: flex;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  height: 5rem;
  background-color: rgb(0, 0, 0);
}

.headtext2 {
  display: flex;
  font-family: 'Fjalla One', sans-serif;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  height: 5rem;
  background-color: none;
  border-bottom: 1px solid #000;
}

.headtext3 {
  display: flex;
  font-family: 'Fjalla One', sans-serif;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  height: 10rem;
  background-color: none;
}

.breadtext {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: rgb(216, 216, 216);
  font-size: 1.5rem;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 5rem;
}

.breadtext img {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: rgb(216, 216, 216);
}

.btn {
  color: #f1f1f1;
  background-color: transparent;
  font-size: 4rem;
  cursor: pointer;
  margin-left: 93%;
}


.btn:hover {
  color: #3ed2e6;
  cursor: pointer;
  transition: 0.1s;
}


.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  font-family: 'Fjalla One', sans-serif;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #9fdbd3;
  transition: 0.1s;
}

.overlay .closebtn {
  position: absolute;
  top: 0.2rem;
  right: 1.8rem;
  font-size: 3rem;
}

.fade-in {
  display: flex;
  align-items: center;
  width: 60vw;
  height: 30vw;
  opacity: 100%;
}

.slide {
  width: 100%;
  height: auto;
}
#mask {
  overflow: hidden;
  height: 100%;
}

#slider {
  background: #000;
  border: 5px solid #494949;
  box-shadow: 1px 1px 5px rgba(156, 156, 156, 0.7);
  height: 25vh;
  width: 40vw;
  margin: 40px auto 0;
  overflow: visible;
  position: relative;
}

#slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

#slider li {
  width: auto;
  height: auto; 
  position: absolute;
  top: -325px; 
  list-style: none;
  
}

#slider li.firstanimation {
  animation: cycle 25s linear infinite;
}

#slider li.secondanimation {
  animation: cycletwo 25s linear infinite;
}

#slider li.thirdanimation {
  animation: cyclethree 25s linear infinite;
}

#slider li.fourthanimation {
  animation: cyclefour 25s linear infinite;
}

#slider li.fifthanimation {
  animation: cyclefive 25s linear infinite;
}

.progress-bar {
  position: relative;
  top: -5px;
  width: 80vw;
  height: 5px;
  background: #000;
  animation: fullexpand 25s ease-out infinite;
}

.item1 { grid-area: margin; }
.item2 { grid-area: player; }

.playermodelshtml
{
  background-color: rgb(27, 27, 27);
}


h4{
  margin: 0;
}

.try1 {
  grid-area: header;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.try2 { grid-area: menu; }
.try3 {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

/*
* {
  border: 1px solid #f00 !important;
}
*/

/*Footer*/
.try4 {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 200px;
  width: 100vw;
  background-color: rgb(0, 0, 0);
}
.try5 { grid-area: margin; }

.footer{
  display: flex;
flex-direction: row;
width: 100vw;
margin-bottom: 0;
bottom: 0;
}
.left-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 200px;
  background-color: rgb(0, 0, 0);
width:30%;
}

.middle-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 200px;
  background-color: rgb(0, 0, 0);
  width: 40%;
}

.right-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 200px;
  background-color: rgb(0, 0, 0);
width:30%;
}

.bullet-text{
color:rgb(255, 255, 255);
  font-family: 'Fjalla One', sans-serif;
margin: 0;
font-size: 10px;
}


.bullet-text-large{
  color:rgb(255, 255, 255);
    font-family: 'Helvetica Neue', 'Fjalla One', sans-serif;
  margin: 0;
  margin-left: 10px;
  font-size: 15px;
  }

  .bullet-text-large2{
    color:rgb(255, 255, 255);
      font-family: 'Helvetica Neue','Fjalla One', sans-serif;
    margin: 0;
    margin-left: 5vw;
    margin-right: 10vw;
    font-size: 20px;
  
    }

.bullet-text-orange{
  color: rgb(255, 105, 51);
  font-family: 'Fjalla One', sans-serif;
margin: 0;
font-size: 2rem;
}


.gg-arrow-up-r{
margin-left: 10px;
}

a{
  font-family: 'Fjalla One', sans-serif;
  text-decoration: none;
  color: #000;
}

.btn-text{
  color:white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 15px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu header header header header margin'
    'menu main main main main margin'
    'footer footer footer footer footer footer';
  grid-template-rows:1fr 12fr 1fr;
  grid-gap: 4px;
  background-color: #272b30;
  height: 200vh;
  width: 100vw;
}

.grid-container2 {
  display: grid;
  grid-template-areas:
    'menu header header header header margin'
    'menu main main main main margin'
    'footer footer footer footer footer footer';
  grid-template-rows:1fr 12fr 1fr;
  grid-gap: 4px;
  background-color: #272b30;
  height: 100vh;
  width: 100vw;
}

.grid-container > div {
  background-color: #272b30;
  text-align: center;
  padding: 0;
  font-size: 30px;
}

.modelbox{
  background-color: #1c1e22;
  height: 15rem;
  width: 15rem;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #000000;
}

.charactername {
  margin: 7px;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 20px;
}

.charactername2 {
  margin-top: 7px;
  margin-bottom: 5px;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 20px;
}

.weaponshtml{
  background-color: rgb(27, 27, 27);

}

.agentpicture 
{
  height: 10rem;
  margin-top: 27px;
}

.agentpicture2
{
  height: 10.5rem;
}

.covert{
  background-color: #eb4b4b;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
}

.classified{
  background-color: #d32ee6;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
}

.restricted{
  background-color: #8847ff;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
}

.milspec{
  background-color: #4b69ff;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
}

.rifle{
  background-color: #fc9a1a;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
}

.smg{
  background-color: #2fbe0b;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
}

.shotgun{
  background-color: #4ae7e7;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
}

.pistol{
  background-color: #882fd1;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
}

.sniper{
  background-color: #ce0b0b;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
}

.machineg{
  background-color: #ff4bc3;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
}

.eSporthtml{
  background-image: url(Inferno.jpg);
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
  overflow-y: hidden;
}

.page-cover{
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9); 
}

.modelbox2{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(43, 43, 43, 0.3); 
  height: 20rem;
  width: 15rem;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #000000;
  margin-bottom: 200px;
}

.modelbox3{
  background-color: #2e3136;
  height: 17rem;
  width: 15rem;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #2e3136;
}

.logobox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.logo{
  height: 244px;
  width: 244px;
}

.logo:hover{
  margin-bottom: 10px;
}

.selection{
  margin-top: 200px;
  display: flex;
flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.teamtext{
  color: #ebc932;
  font-family: 'Fjalla One', sans-serif;
font-size: 50px;
letter-spacing: 3px;
}
.teamtext:hover{
  color: #ebc932;
  font-family: 'Fjalla One', sans-serif;
font-size: 50px;
letter-spacing: 3px;
margin-bottom: 50px;
}

.proteamshtml{
  background-color: black;
}

.charactername3 {
  margin: 7px;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 35px;
}

.white-text{
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 2px;

color: white;}

.maphtml{
  background-color: black;
}

.mappicture{
  height: 15rem;
  margin-top: 27px;
  margin-left: 5px;
}

.topbtn{
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}

.abouthtml{
  background-color: black;
  height: 100%;
}

@media only screen and (max-width:426px)
{
  .bullet-text-large{
    color:rgb(255, 255, 255);
      font-family: 'Fjalla One', sans-serif;
    margin: 0;
    margin-left: 10px;
    font-size: 10px;
    }
  
  .bullet-text-orange{
    color: rgb(255, 105, 51);
    font-family: 'Fjalla One', sans-serif;
  margin: 0;
  font-size: 1.5rem;
  }
}

@media only screen and (min-width:1200px)
{
  .btn {
    color: #f1f1f1;
    background-color: transparent;
    font-size: 4rem;
    cursor: pointer;
    margin-left: 97%;
  }
}

@media only screen and (min-width:1000px)
{
  .btn {
    color: #f1f1f1;
    background-color: transparent;
    font-size: 4rem;
    cursor: pointer;
    margin-left: 96%;
  }
}


@media only screen and (max-width:793px)
{
  .bullet-text-large2{
    color:rgb(255, 255, 255);
      font-family: 'Fjalla One', sans-serif;
    margin: 0;
    margin-left: 10px;
    margin-right: 40px;
    font-size: 15px;
    }

  .page-cover{
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.9); 
  }
  .headtext3 {
    display: flex;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 10rem;
    background-color: none;
  }
  .eSporthtml{
    background-image: url(Inferno.jpg);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
    overflow-y: visible;
  }
}

@media only screen and (max-width:450px)
{
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header'
      'main main main main'
      'footer footer footer footer';
    grid-template-rows:1fr 12fr 1fr;
    grid-gap: 4px;
    background-color: #272b30;
    padding: 10px;
    height: 200vh;
  }
}

@media only screen and (max-width:970px)
{
  #slider {
    background: #000;
    border: 5px solid #494949;
    box-shadow: 1px 1px 5px rgba(156, 156, 156, 0.7);
    height: 22vw;
    width: 40vw;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {

  .headtext2 {
    font-size: 10vw;
  }

  #slider {
    background: #000;
    border: 5px solid #494949;
    box-shadow: 1px 1px 5px rgba(156, 156, 156, 0.7);
    height: 15vh;
    width: 75vw;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
  }

  html,body{
    width: auto;
    height: auto;
  }

  header {
    background-color: #000000;
    opacity: 100%;
    width: 100vw;
    height: 24vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 10vw;
    text-shadow: 2px, #000000;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-grid {
    display: grid;
    grid-template-rows: 1fr 5fr;
  }

  .parallaxheader {
    background-image: url('Background.jpg');
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallaxfirstdiv {
    background-image: url(Miragedark.jpg);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
  }

  .textbox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: black;
    margin-top: 2rem;
    margin-left: 1.4rem;
    margin-right: 2rem;
    border-radius: 1rem;
    height: auto;
    opacity: 90%;
  }

  .headtext {
    display: flex;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 5rem;
    background-color: rgb(0, 0, 0);
  }

  .breadtext {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: rgb(216, 216, 216);
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 5rem;
  }

  .breadtext img {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: rgb(216, 216, 216);
  }

  .btn {
    color: #f1f1f1;
    background-color: transparent;
    font-size: 4rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-left: 95vw;
  }

  .btn:hover {
    color: #3ed2e6;
    cursor: pointer;
    transition: 0.1s;
  }

  .overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #9fdbd3;
    transition: 0.1s;
  }

  .overlay .closebtn {
    position: absolute;
    top: 0.2rem;
    right: 1.8rem;
    font-size: 3rem;
  }

  .fade-in {
    display: flex;
    align-items: center;
    width: 60vw;
    height: 30vw;
    opacity: 100%;
  }
}

@keyframes fullexpand {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    width: 0%;
    opacity: 0;
  }

  4%,
  24%,
  44%,
  64%,
  84% {
    width: 0%;
    opacity: 0.3;
  }

  16%,
  36%,
  56%,
  76%,
  96% {
    width: 100%;
    opacity: 0.7;
  }

  17%,
  37%,
  57%,
  77%,
  97% {
    width: 100%;
    opacity: 0.3;
  }

  18%,
  38%,
  58%,
  78%,
  98% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes cycle {
  0% {
    top: 0px;
  } 
  4% {
    top: 0px;
  } 
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } 
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  } 
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  } 
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  } 
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycletwo {
  0% {
    top: -325px;
    opacity: 0;
  } 
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  } 
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } 
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  } 
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cyclethree {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cyclefour {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}
@keyframes cyclefive {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}